<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>HOME PAGE</h1>

    <%if(!currentUser){%>

    <h1><a href="http://localhost:3001/signup">SIGN UP</a></h1>

    <h1><a href="http://localhost:3001/login">LOGIN</a></h1>

    <%}else{%>

    <h1>Welcome <%= currentUser.username %></h1>

    <h1><a href="http://localhost:3001/logout">LOGOUT</a></h1>

    <h1><a href="http://localhost:3001/api1">REQUEST ATTACK</a></h1>

    <h1><a href="http://localhost:3001/api2">FOLLOW ATTACK</a></h1>

    <%}%>
  </body>
</html>
